{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>We believe that all businesses deserve access to top digital experts and solutions regardless of the many challenges they face.</p>
                        <p>We fight to protect our client's interests. Our transparent approach helps businesses acieve greater value from their digital marketing efforts.</p>
                        <p>We value our superior and distinguished industry standards and update them regularly based on modernized techniques and a renewed mindset.</p>
                    </div>
                </div>
            </div>
        </main>

{% comment %}
<h1>This is main section of about file</h1>

<button onclick="btn_click()">Click Me</button>

<img src="{% static 'images/mvt.png' %}" alt="">
{% endcomment %}
{% endblock 'main' %}
