{% extends 'base.html' %}

{% block 'main' %}
<div class="col md 3">
  <a href="{% url 'create_post' %}"><button class="btn btn-success">Create Post</button></a>
</div>
<div class="col md 10">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Small Description</th>
            <th scope="col">Detail</th>
            <th scope="col">Category</th>
            <th scope="col">Is Active</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        {% for x in data %}
            <tr>
              <th scope="row">{{x.title}}</th>
              <td>{{x.sdesc}}</td>
              <td>{{x.det}}</td>
              {% if x.cat == 1 %}
              <td>Technical</td>
              {% elif x.cat == 2 %}
              <td>Food</td>
              {% else %}
              <td>Travel</td>
              {% endif %}

              {% if x.active == 1 %}
              <td>YES</td>
              {% else %}
              <td>NO</td>
              {% endif%}

              <td><a href="edit/{{x.id}}"><button class="btn btn-warning">Edit</button></a></td>
              <td><a href="delete/{{x.id}}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>   
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-md-5 mt-5">
  <h4>Filter By Category</h4>
  <hr>
  <a href="/udash">All</a><br>
  <a href="/catfilter/1">Technical</a><br>
  <a href="/catfilter/2">Food</a><br>
  <a href="/catfilter/3">Travel</a>
</div>

<div class="col-md-3 mt-5">
  <h4>Filter Active</h4>
  <hr>
  <a href="/actfilter/1">Yes</a><br>
  <a href="/actfilter/0">No</a>
</div>

{% endblock 'main' %}